@font-face {
  font-family: wizardWorld;
  src: url(/harry-potter-project/font/WizardWorldFont.ttf);
}

body {
  font-family: wizardWorld;
}

h1 {
  font-family: wizardWorld;
  font-size: 96px;
  font-weight: 700;
  font-style: normal;
  line-height: 144px;
}
