body {
  font-family: Estonia;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  font-style: normal;
  line-height: 144px;
}

h2 {
  font-size: 56px;
}

footer {
  font-size: 20px;
  text-transform: uppercase;
}
